html {
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 20px;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-shrink: 1;
}

div {
    padding: 10px;
}

header {
    background-color: #3c1460;
    display: flex;
    flex-wrap: nowrap;
    img {
        max-height: 180px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    img {
        height: 1.2rem;
        width: 1.2rem;
        background-color: darkgrey;
        opacity: 0.5;
    }
}

.contentBox {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    border-radius: 14px;
    font-size: 0.8rem;

    table {
        justify-content: center;
        th {
            text-align: left;
        }
    }

    button {
        margin-left: auto;
        width: 80px;
        height: 40px;
        background-color: dodgerblue;
        font-weight: bold;
        color: whitesmoke;
        border: 1px;
        border-radius: 8px;
    }

    .badbutton {

        margin-left: auto;
        width: 80px;
        height: 40px;
        background-color: red;
        font-weight: bold;
        color: whitesmoke;
        border: 1px;
        border-radius: 8px;
    }

    .badbutton:hover {
        background-color: darkgreen;
        cursor: pointer;
    }
    button:hover {
        background-color: darkgreen;
        cursor: pointer;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        justify-content: space-between;
        align-items: center;

    }
}

.frontpageBoxOrderSelections {
    display: flex;
    gap: 20px;
    max-width: 400px;
    justify-content: space-between;
}
