<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/cupcakefavico32x32.png}">
<link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/cupcakefavico48x48.png}">
</head>

<body>

<div class="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogocakes.png" th:src="@{/images/cupcakelogotitle.png}" alt="" />
            <img alt="logo" src="../public/images/cupcakelogocakes.png" th:src="@{/images/cupcakelogocakes.png}"/>
        </a>
    </header>

    <div class="navbar">
        <div class="navbarLeft">
            <p>lol</p>
            <p>looool</p>
        </div>
        <div class="navbarRight">
            <p>lol</p>
            <p>looool</p>
        </div>
    </div>

    <div class="frontpageBoxOrder">
        <h1>Velkommen</h1>
        <h2>Info her</h2>
        <form method="post">
            <div class="frontpageBoxOrderSelections">
                <select name="bund">
                    <option value="testbund1">testbund1</option>
                    <option value="testbund2">testbund2</option>
                    </select>

      <select name="topping">
                    <option value="testtopping1">testtopping1</option>
                    <option value="testtopping2">testtopping2</option>
                    </select>

      <select name="antal">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    </select>

            </div>
            <button formaction="/order" type="submit">Vælg</button>
        </form>
    </div>
</div>
</body>
</html>
