<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/cupcakefavico32x32.png}">
<link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/cupcakefavico48x48.png}">
</head>

<body>

<div class="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogocakes.png" th:src="@{/images/cupcakelogotitle.png}" alt="" />
            <img alt="logo" src="../public/images/cupcakelogocakes.png" th:src="@{/images/cupcakelogocakes.png}"/>
        </a>
    </header>

    <div class="navbar">
        <div class="navbarLeft">
            <a th:if="${session.admin == true}" th:href="customers">Kunder</a>
            <a th:if="${session.admin == true}" th:href="allorders">Ordrer</a>
        </div>
        <div class="navbarRight">
            <a th:if="${session.user == null}" href="../templates/login.html"
               th:href="login">log ind</a>
            <a th:if="${session.user != null}" href="../templates/profile.html"
               th:href="@{profile(email=${session.user.Email()})}"
               th:text="${session.user.Email()}"></a>
            <a href="../templates/myorders.html" th:href="myorders">
                <img src="../public/images/shoppingbasket2mini.png" th:src="@{/images/shoppingbasket2mini.png}" alt=""/>
            </a>
        </div>
    </div>

    <div class="contentBox">
        <form method="post">
          <input type="email" id="email" name="email" value="" placeholder="indtast din email" />
          <input type="password" id="pwd" name="pwd" value="" placeholder="indtast dit kodeord" />
          <button formaction="login" type="submit">Bekræft</button>
          <p class="statusmessage" th:if="${message != null}" th:text="${message}">
          </p>
          </form>
    </div>

    <div class="contentBox">
        <a href="../templates/create.html" th:href="create">
          Opret bruger
        </a>
    </div>

</div>
</body>
</html>
